<%- include('partials/header') %>
<div class="container mt-5">
<!--    <h1>Librarian </h1>-->

    <form action="/addBook" method="get">
        <button type="submit" class="btn btn-dark">Add New Book</button>
    </form>

    <form action="/deleteBook" method="get">
        <button type="submit" class="btn btn-dark">Delete Book</button>
    </form>

    <form action="/updateBook" method="get">
        <button type="submit" class="btn btn-dark">Update Book</button>
    </form>

    <form action="/returnBook" method="get">
        <button type="submit" class="btn btn-dark">Return Book</button>
    </form>

    <form action="/addShelf" method="get">
        <button type="submit" class="btn btn-dark">Add Shelf</button>
    </form>

    </div>
</div>

<%- include('partials/footer') %>
