<%- include('partials/header') %>
<form action="/dashboard/search_book" method="get">
    <button type="submit">Search a book</button>
</form>
<a href="/dashboard/issued_books">Issued Books</a>
<a href="/dashboard/holds_placed">Holds placed</a>
<a href="/dashboard/book_shelf">Book Shelf</a>
<a href="/librarian_special">For Librarian</a>
<a href="/dashboard/feedback">For Book Feedback</a>
<a href="/dashboard/search_people">To Add Friends</a>
<a href="/dashboard/friend_list">For Viewing Friends</a>
<a href="/dashboard/recommendations">For Book Recommendations</a>
<%- include('partials/footer') %>